* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}


html {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

// section,header{
//     overflow: auto;
// }