* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}


html {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h2 {
    @include IBMPlexSans-Small;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: normal;
    padding:0px 5% ;

}

p {
    @include IBMPlexMono-Small;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    padding:0px 5% ;
}