.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $hd_height_s;

    &>div {
        margin: 15px;
    }

    .menu-lista {
        display: none;
        position: absolute;
        background-color: $hd_bg_color;
        width: 100%;
        height: $hd_height_s_list;
        top: 52px;

        &>ul {
            height: 184px;
            &>li {
                display: block;
                list-style: none;
                margin:24px 16px;
                &>a {
                    text-decoration: none;
                    color: white;  
                    @include IBMPlexMono-Small;
                    font-size: 16px;

                    &:hover{
                        color: #00F3BB;
                        text-decoration: line-through;
                        @include IBMPlexMono-medium;
                    }

                    &:active{
                        color: rgba(6,10,36,0.56);
                    }
                }
            }
        }
    }


    .menu-check {
        display: none;

        &:checked {
            &~.menu-label {
                display: none;
            }
            &~.menu-label1 {
                display: block;
            }
    
            &~.menu-lista {
                display: block;
                position: absolute;
    
                animation: menu-lista-visible 0.5s linear;
                animation-direction: normal;
                animation-fill-mode: forwards;
    
                top: 52px;
            }
        }
    }

    .menu-label {
        cursor: pointer;
    }

    .menu-label1 {
        display: none;
    }


    @keyframes menu-lista-visible {
        from {
            left: 100%;
        }

        to {
            left: 0%;
        }
    }

}


/* ------------ Vista escritorio ------------*/

@media (min-width: 768px) {
    

    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        &>div {
            margin: 0% 7% 0% 7%;
        }

        .menu-lista {
            display: flex;
            position: initial;
            background-color: white;
            height: 80px;
            // width: 400px;

            &>ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 80px;
                &>li {
                    &>a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        .menu-label1,
        .menu-label,
        .menu-check {
            display: none;
        }
    }
}

/* ------------FIN Vista escritorio ------------*/