.main-content {
    display: flex;
    flex-flow: column nowrap;
}


.inicio {
    width: 100%;
    height: 303px;
    padding:0px 5% ;

    .inicio-titulo{
        font-size: 44px;
    }
    
    .inicio-titulo span{
        text-decoration:2px line-through;
        
    }
    
    .inicio-texto{
        width: 90%;
        height: 66px;
        font-size: 14px;
    
    }
    
 
}

.boton{
    width: 90%;
    height: 44px;
    background: #00F3BB 100%;
} 

.episodios {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    height: auto;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0px 100%, 100% 95%, 100% 0px, 0px 5%);
    padding-top: 60px;
    padding-bottom: 120px;

    .episodios-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        height: auto;   
        margin-bottom: 20px;
    
    }
    
    .episodios-content iframe{
        width: 298px;
        margin: 11px 11px;
    }
}



.img-phone {
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;   
    top: -100px;

    .img-picture{
        width: 360px;
        height: 519px;
        transform: translateX(-20px);
    }

    .img-article{
        display: flex;
        flex-flow: column nowrap;
        width: auto;
        padding: 16px;
    }
}

.galeria{
    .galeria-content{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .galeria-img{
        width: 320px ;
        height: 248px;
        margin: 0px;
        padding: 0px;
    }
}

.temas{
    display: flex;
    flex-flow: column nowrap;
    .temas-content{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .temas-item{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 320px;
            height: 130px;
        }

        h3{
        text-align: center;
           width: 228px;
           height: 32px; 
        }
    }

}

.novedades{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 10%);
    height: 341px;
}
