.main-content {
    display: flex;
    flex-flow: column nowrap;
}


.inicio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 303px;


    .inicio-titulo {
        span {
            text-decoration: 2px line-through;
            margin: 0px;
        }

    }



    .inicio-texto {
        width: 100%;
        margin: 0px;
    }

    .boton {
        align-self: center;
        margin-top: 20px;
        border: none;
        padding: 0px 5%;
    }
}

.boton {
    width: 288px;
    height: 44px;
    @include IBMPlexMono-medium;
    background: #00F3BB 100%;
    border: none;
}

.boton:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}

.episodios {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    height: auto;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0px 100%, 100% 95%, 100% 0px, 0px 5%);
    padding-top: 100px;
    padding-bottom: 120px;

    .episodios-titulo {
        width: 100%;
        padding: 0px 5%;
        color: white;
    }

    .episodios-content {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        margin-bottom: 20px;
        flex-grow: 1;

        .episodios-grid {
            display: flex;
            flex-flow: row wrap;
            flex-grow: 1;
            justify-content: center;
            align-content: center;
            align-items: center;

            &:nth-child(1n) {
                margin-right: 5%;
            }
        }

        iframe {
            //width: calc(33.3333% + 104px);
            width: 280px;
            margin: 5% 0% 0% 5%;

        }

    }

}

.img-phone {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    transform: translateY(-100px);

    &>div {
        .img-picture {
            width: 360px;
            height: 519px;
            // transform: translateX(-20px);
        }
    }


    .img-article {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 90%;
        height: auto;
        margin-top: 27px;

        p {
            margin-top: 8px;
        }
    }
}

.galeria {
    .galeria-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    h2 {
        margin-bottom: 14px;
    }

    .galeria-img {
        width: 100%;
        
        margin: 0px;
        padding: 0px;
    }
}

.temas {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 48px;

    .temas-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
    }

    .temas-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 26px 0px;

        img {
            width: 104px;
            height: 104px;
            margin: 13px;
        }

        h3 {
            @include IBMPlexSans-Semibold;
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            text-align: center;
            width: 288px;
            height: 32px;
        }
    }

}



.footer {

    .footer-novedades {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 10%);
        height: 341px;

        h2 {
            color: white;
        }

        .boton {
            display: inline-block;
            margin: 36px 0px;
        }
    }

    .footer-copy {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 24px 0px 31px;

        p,.redes{
            width: 288px;
            margin-bottom: 16px;
        }
        .redes {
            i{
                margin: 0px 19px; 
                width: 16px;    
            }
        }
    }

}

@media (min-width: 388px) {
    .episodios {
        .episodios-content {
            iframe {
                width: 80%;
                margin: 5% 0% 0% 5%;
            }
        }
    }
}

@media (min-width: 500px){
    .galeria {
        .galeria-img{
            width: calc(100% /2 );
        }
    }  
}

@media (min-width: 768px) {
    .episodios {
        .episodios-content {
            iframe {
                width: calc(45% - 10vh + 2px);
                margin: 5% 0% 0% 5%;
            }
        }
    }
    .galeria {
        .galeria-img{
            width: calc(100% /3 );
        }
    }    
}