@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
  max-width: 1440px;
  margin: auto;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: normal;
  padding: 0px 5%;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  padding: 0px 5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 44px;
}

.header > div {
  margin: 15px;
}

.header .menu-lista {
  display: none;
  position: absolute;
  background-color: #0000EC;
  width: 100%;
  height: 224px;
  top: 52px;
}

.header .menu-lista > ul {
  height: 184px;
}

.header .menu-lista > ul > li {
  display: block;
  list-style: none;
  margin: 24px 16px;
}

.header .menu-lista > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 16px;
}

.header .menu-lista > ul > li > a:hover {
  color: #00F3BB;
  text-decoration: line-through;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
}

.header .menu-lista > ul > li > a:active {
  color: rgba(6, 10, 36, 0.56);
}

.header .menu-check {
  display: none;
}

.header .menu-check:checked ~ .menu-label {
  display: none;
}

.header .menu-check:checked ~ .menu-label1 {
  display: block;
}

.header .menu-check:checked ~ .menu-lista {
  display: block;
  position: absolute;
  -webkit-animation: menu-lista-visible 0.5s linear;
          animation: menu-lista-visible 0.5s linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 52px;
}

.header .menu-label {
  cursor: pointer;
}

.header .menu-label1 {
  display: none;
}

@-webkit-keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* ------------ Vista escritorio ------------*/
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  .header > div {
    margin-left: 100px;
    margin-right: 100px;
  }
  .header .menu-lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    background-color: white;
    height: 80px;
    width: 400px;
  }
  .header .menu-lista > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu-lista > ul > li > a {
    text-decoration: none;
    color: black;
  }
  .header .menu-label1,
  .header .menu-label,
  .header .menu-check {
    display: none;
  }
}

/* ------------FIN Vista escritorio ------------*/
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 303px;
}

.inicio .inicio-titulo span {
  -webkit-text-decoration: 2px line-through;
          text-decoration: 2px line-through;
  margin: 0px;
}

.inicio .inicio-texto {
  width: 100%;
  margin: 0px;
}

.inicio .boton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  border: none;
  padding: 0px 5%;
}

.boton {
  width: 288px;
  height: 44px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  background: #00F3BB 100%;
  border: none;
}

.boton:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: auto;
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0px 100%, 100% 95%, 100% 0px, 0px 5%);
          clip-path: polygon(0px 100%, 100% 95%, 100% 0px, 0px 5%);
  padding-top: 100px;
  padding-bottom: 120px;
}

.episodios .episodios-titulo {
  width: 100%;
  padding: 0px 5%;
  color: white;
}

.episodios .episodios-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: auto;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.episodios .episodios-content .episodios-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.episodios .episodios-content .episodios-grid:nth-child(1n) {
  margin-right: 5%;
}

.episodios .episodios-content iframe {
  width: 280px;
  margin: 5% 0% 0% 5%;
}

.img-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 100%;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.img-phone > div .img-picture {
  width: 360px;
  height: 519px;
}

.img-phone .img-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  height: auto;
  margin-top: 27px;
}

.img-phone .img-article p {
  margin-top: 8px;
}

.galeria .galeria-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.galeria h2 {
  margin-bottom: 14px;
}

.galeria .galeria-img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 48px;
}

.temas .temas-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.temas .temas-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 26px 0px;
}

.temas .temas-item img {
  width: 104px;
  height: 104px;
  margin: 13px;
}

.temas .temas-item h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  text-align: center;
  width: 288px;
  height: 32px;
}

.footer .footer-novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 10%);
          clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 10%);
  height: 341px;
}

.footer .footer-novedades h2 {
  color: white;
}

.footer .footer-novedades .boton {
  display: inline-block;
  margin: 36px 0px;
}

.footer .footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px 0px 31px;
}

.footer .footer-copy p, .footer .footer-copy .redes {
  width: 288px;
  margin-bottom: 16px;
}

.footer .footer-copy .redes i {
  margin: 0px 19px;
  width: 16px;
}

@media (min-width: 388px) {
  .episodios .episodios-content iframe {
    width: 80%;
    margin: 5% 0% 0% 5%;
  }
}

@media (min-width: 500px) {
  .galeria .galeria-img {
    width: calc(100% / 2);
  }
}

@media (min-width: 768px) {
  .episodios .episodios-content iframe {
    width: calc(85%/2);
    margin: 5% 0% 0% 5%;
  }
  .galeria .galeria-img {
    width: calc(100% /3);
  }
}

.footer {
  height: 121px;
}
/*# sourceMappingURL=styles.css.map */